body {
    background:#E5E5E5;
    font-family: 'Roboto', sans-serif;
}
#slogan {
    position:absolute;
    height: 100px;
    top: 200px;
    line-height: 50px;
    word-wrap:break-word;
    display: block;
    padding-left: 20px;
}
span h1{
    font-size: 42px;
    font-weight: 700;
}

#overviewSpan{
    position: absolute;
    width: 150px;
    height: 100px;
    top: 500px;
    display: block;
    background: #7A50D3;
    padding: 20px 20px;
    margin-left: 20px;
}

span h2{
    font-size: 20px;
    color: white;
}

span p{
float: left;
}

.heading {
    padding-top:50px;
    padding-left: 6px;
    padding-right: 50px

}

.navbardim {
    padding: 4% 0 0 20%;
}

.color-block {
    float: right;
    position:static;
    width: 93%;
    height: 700px;
    background-color: #EBFF00;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: black;
}

#mainNavbar .nav-link:hover {
    color: rgb(122,80,211);
}

#mainNavbar .navbar-brand {
    color: rgb(122,80,211);
    font-size: 1.5rem;
    letter-spacing: 0.505em;
    line-height: 21px;
}

.navbar-nav > li {
    padding-left:40px;
    padding-right:40px;
}

#bank{
    top:30%;
    margin-top: 50px;
    margin-left: 35rem;
    margin-right: auto;
    position: relative;
    z-index: 2;
}
#creditCard{
    top:50%;
    margin-left: 25rem;
    margin-top: 5rem;
    z-index: 1;
}

#start{
    position:absolute;
    display:block;
    top: 750px;
    margin-left: 60px;
}


#divStart{
    width:100px;
    height:30px;
    display: block;
    background-color: #48C3F9;
    position: absolute;
    top: 900px;
    left: 850px;

}

#spanStart{
    display: block;
    position: absolute;
    top: 880px;
    left: 840px;
    font-size: 32px;
    font-weight: 700;
}

.fas {
margin-left:80px;
}

div h3{
    color:black;
    font-weight: 700;
    font-size: 40px;
    margin:23px;
}

.square{
    width: 150px;
    height: 150px;
    background-color:gray;
    display:block;
    float: right;
    margin: 23px;
}